DirectoryIndex index.php

RewriteEngine On

RewriteRule ^(?:\.git|docs|resources|tools)(?:/|$) - [F,L,NC]
RewriteRule ^storage/private(?:/|$) - [F,L,NC]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L,QSA]
